#!/bin/sed -ne s/^Exec=//e
[Desktop Entry]
Type=Application
Exec=/opt/epics/opi/opi_BMM/MC04/opi_MC/start_opi_MISC.sh
Icon=/opt/epics/opi/opi_BMM/MC04/opi_MC/BMM_DM2_220.png
Name=DM2 Fluorescent Screen and Foils
GenericName=DM2 Fluorescent Screen and Foils
Categories=Apps;
Name[en_GB]=DM2 Fluorescent Screen and Foils
