#!/bin/sed -ne s/^Exec=//e
[Desktop Entry]
Type=Application
Exec=/opt/epics/opi/opi_BMM/MC06/opi_MC/start_opi_MC06_Slt02.sh
Icon=/opt/epics/opi/opi_BMM/MC06/opi_MC/InFlange_Slit_340.png
Name=DM3 Slits
GenericName=DM3 Slits
Categories=Apps;
Name[en_GB]=DM3 Slits
