#!/bin/sed -ne s/^Exec=//e
[Desktop Entry]
Type=Application
Exec=/opt/epics/opi/opi_BMM/MC05/opi_MC/start_opi_MirM3.sh
Icon=/opt/epics/opi/opi_BMM/MC05/opi_MC/BMM M3_350.png
Name=Harmonic Rejection Mirror
GenericName=Harmonic Rejection Mirror
Categories=Apps;
Name[en_GB]=Harmonic Rejection Mirror
