#!/bin/sed -ne s/^Exec=//e
[Desktop Entry]
Type=Application
Exec=/opt/epics/opi/opi_BMM/MC06/opi_MC/start_opi_MC06_BPM1.sh
Icon=/opt/epics/opi/opi_BMM/MC06/opi_MC/NanoBPM_320.png
Name=BPM
GenericName=NanoBPM
Categories=Apps;
Name[en_GB]=NanoBPM
