#!/bin/sed -ne s/^Exec=//e
[Desktop Entry]
Type=Application
Exec=/opt/epics/opi/opi_BMM/MC04/opi_MC/start_opi_MirM2.sh
Icon=/opt/epics/opi/opi_BMM/MC04/opi_MC/BMM M2_330.png
Name=Toroidal Focusing Mirror
GenericName=Toroidal Focusing Mirror
Categories=Apps;
Name[en_GB]=Toroidal Focusing Mirror
